numpy>=1.23
opencv-python==4.13.0.92
robotpy
torch
roboflow
tensorboard
ultralytics
tensorflow
pyright
onnxruntime-directml; platform_system == "Windows"
onnxruntime; platform_system != "Windows"
opencv-contrib-python
matplotlib